*{

font-family: 'Mada', sans-serif;
font-family: 'Petrona', serif;
}

.Navholder{
    background-color: #623E2A;
    color: white;
}

.WebTitle{
    position: absolute;
    width: 100%;
    padding-top: 500px;
    padding-bottom: 500px;
    padding-left: 200px;
    padding-right: 0px;
    font-family: 'Mada', sans-serif;
    font-family: 'Petrona', serif;
    color: white;
    text-align: center;
}

.navbar-nav .active {
    color: black;
  }

  .nav-link:hover{
    color: black !important;
}
.cFlex{
    display: flex;
    gap: 10px;
}

 .FamilySuite{
    padding-top: 200px;
    padding-bottom: 250px;
}

.FamilySuite, .Accomodation{
    padding-top: 100px;
    padding-bottom: 250px;
}

.ThePressFlexContainer , .ThePress, .LuxuryGetaway, .DeluxeSeaRoom , .OnlyForMembersRowTwo{
    color: #623E2A;
    background-color: white;
}
.Accomodation, .FamilySuite , .DeluxeRoom, .FacilitiesSpaRow ,.GatheringsRow ,.OnlyForMembers{
    background-color: #EFEBE5;
    color: #623E2A;
}

.ContactUs>div{

    padding-left: 100px;
    padding-right: 100px;

}
    
#NavList>li>ul,.ContactUs , .FooterFlexContainer{
    background-color: #623E2A;
    color: white;
}
#NavList>li>a{
    font-size: larger;
    font-style: bold;
}
#NavList>li>ul>li>a,#NavList>li>a{
    color: white;
    font-family: 'Mada', sans-serif;
font-family: 'Petrona', serif;
}



.ContactUsBoxFlexItem{

 height: 30vh;
 width: 50vh;
}

.gs{
    display: flex;
    justify-content: center;
}

.FooterFlexContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.ThePressFlexContainer{
    display: flex;
    flex-flow: row;
    padding-top: 250px;
    padding-bottom: 250px;
}

.LuxuryGetawayFlexItem3{
    flex-grow: 3;
}

@media  (max-width: 500px) {
    
.ThePressFlexContainer{
    display: flex;
    flex-flow: row wrap;
}

.FooterFlexContainer{
    display: flex;
    flex-flow: row wrap;
}
}

.card-body{
    color:  #EFEBE5;
    background-color: #623E2A;
    
}