*{

font-family: 'Mada', sans-serif;
font-family: 'Petrona', serif;
}

.Navholder{
    background-color: #623E2A;
}

#NavList>li>ul,.ContactUs , .FooterFlexContainer{
    background-color: #623E2A;
    color: white;
}
#NavList>li>a{
    font-size: larger;
    font-style: bold;
}
#NavList>li>ul>li>a,#NavList>li>a{
    color: white;
    font-family: 'Mada', sans-serif;
font-family: 'Petrona', serif;
}


 .FamilySuite{
    padding-top: 200px;
    padding-bottom: 250px;
}

.FamilySuite, .Accomodation{
    padding-top: 100px;
    padding-bottom: 250px;
}

.ThePressFlexContainer , .ThePress, .LuxuryGetaway, .DeluxeSeaRoom , .OnlyForMembersRowTwo{
    color: #623E2A;
    background-color: white;
}
.Accomodation, .FamilySuite , .DeluxeRoom, .FacilitiesSpaRow ,.GatheringsRow ,.OnlyForMembers , .Gatherings , .Culinary{
    background-color: #EFEBE5;
    color: #623E2A;
}

.ContactUs>div{

    padding-left: 100px;
    padding-right: 100px;

}
    



.ContactUsBoxFlexItem{

 height: 30vh;
 width: 50vh;
}

.gs{
    display: flex;
    justify-content: center;
}

.FooterFlexContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.ThePressFlexContainer{
    display: flex;
    flex-flow: row;
    padding-top: 250px;
    padding-bottom: 250px;
}

.LuxuryGetawayFlexItem3{
    flex-grow: 3;
}

@media  (max-width: 500px) {
    
.ThePressFlexContainer{
    display: flex;
    flex-flow: row wrap;
}

.FooterFlexContainer{
    display: flex;
    flex-flow: row wrap;
}
}

.card-body{
    color:  #EFEBE5;
    background-color: #623E2A;
    
}

.imgBorder{
    border: #623E2A;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
}